<div class="container d-flex flex-column justify-content-center">

    <h2 class="d-flex justify-content-center">Task Junior</h2>
    <app-active-order [activeOrderData]="activeOrder" (toAppremoveItems)="appRemoveItems($event)"></app-active-order>
    <button class="btn btn-info" style="width: 200px;" (click)="showws=!showws" *ngIf="!showws">Back </button>

    <div [hidden]="!showws">
        <app-server (productDetailtoApp)="productDetailApp($event)"></app-server>
    </div>
    <div *ngIf="!showws">
        <app-product-detail-page [id]="idkliknato"
            (toAppActiveOrder)="updateActiveOrder($event)"></app-product-detail-page>
    </div>
</div>


<!-- <ul style="list-style-type: none;">
    <li>
        <a routerLink="">To Home</a>
        <a routerLink="/server-component">To Your Component</a>
    </li>
  </ul>
  <table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th><a routerLink="">To Home</a></th>
            <th><a routerLink="/server-component">to server component</a></th>
        
        </tr>
        
    </thead>
    <div ng >
        show ili ne show
    </div>
  <router-outlet></router-outlet> -->